body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background: url("Assets\\Dark office.jpg");
    background-size:cover;
    /* background-color: #1C1C1E; */
    font-family: "Century Gothic", sans-serif;
  }
  button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  
  #header {
    padding: 10px;
    color: #dfe6e9;
    font-size: 26px;
    font-family: "Century Gothic", sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:#1C1C1E;
    transition: all 0.4s;
  }
  #header button:hover {
    background-color:#dfe6e9;;
    color: #1C1C1E;
  }
  #container {
    width: 770px;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: white;
  }
  #weekdays div {
    width: 100px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #E3DDD3;
    border-radius: 5px;
    margin: 5px;
    font-size: 1.3rem;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.4s;
  }
  .day:hover {
    background-color: #9dcfac;
  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: lightgrey !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }

  #txt{
    /* margin-left:50%; */
    top: 60px;
    left: 725px;

    position:fixed;
    border:0;
    background-color: #1C1C1E;
    display:block;
    font-size: 1.2rem;
    /* margin:70% auto; */
    text-align:center;
    border:3px solid black;
    /* padding:14px 10px; */
    width:220px;
    outline:none;
    color:rgb(255, 255, 255);
    border-radius:24px;
    transition:0.25px;
    cursor:pointer;
    text-decoration: none;
    /* box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.493); */
    box-shadow: inset 0 0 0 0 rgba(29, 28, 28, 0.836);
    transition:ease-out 1.5s;   
}

#txt:hover{
    box-shadow: inset 220px 0 0 0 rgb(247, 243, 243);
    background-color: whitesmoke;
    color:black;
}