*{
    box-sizing: border-box;
    overflow: hidden;
}

body{
    min-height:100vh;
    height:100vh;
    width:100%;
    padding:0;
    margin:0;
    font-family: "Century Gothic", sans-serif;;
    color:azure;
    text-align: left;
    
}
.navbar{
    height:20%;
    font-size: 50px;
    background-color: #1C1C1E;
    display:flex;
    align-items: center;
    padding-left:5vh;
    /* background-image: linear-gradient(rgba(204, 0, 255, 0.534), rgba(0, 217, 255, 0.74)); */
    /* box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.726); */
    
}


.list-container{
    height:80%;
    /* background: url("Assets\\Setup.jpg"); */
    background: url("Assets\\snow_covered_mountains_under_black_cloudy_sky_4k_hd_black-3840x2160.jpg");
    background-size:cover ;
    padding-left: 10vw;
    padding-top: 5vw;
    overflow: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.progress-container{
    width:80%; 
    /* 80% width is for 100% progress */
    margin-left:5vw;
    height:10%;
    border-radius: 20%;
    background: #e3ddd3;
    color: #1C1C1E;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.list{
    width:80%;
    height:80%;
    /* position:fixed; */
    /* background: #1C1C1E; */
    background: #00000000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-top: 3vh;
    padding:10px;
}



.button{
    /* margin-left:50%; */
    border:0;
    background: none;
    display:block;
    font-size: 1.2rem;
    margin:70% auto;
    text-align:center;
    border:3px solid black;
    padding:14px 10px;
    width:220px;
    outline:none;
    color:rgb(255, 255, 255);
    border-radius:24px;
    transition:0.25px;
    cursor:pointer;
    text-decoration: none;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.493);
}

.button:hover{
    background-color: whitesmoke;
    color:black;
}

.logout-container{
    /* padding-right:10vw; */
    margin-right: 10%;
}

#logout{
    border:0;
    background: none;
    display:block;
    font-size: 1.2rem;
    margin:70% auto;
    text-align:center;
    border:3px solid black;
    padding:14px 10px;
    width:220px;
    outline:none;
    color:rgb(255, 255, 255);
    border-radius:24px;
    transition:0.25px;
    cursor:pointer;
    text-decoration: none;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.493);
}

#logout:hover{
    background-color: whitesmoke;
    color:black;
}

.record-btn{
    width:80%;
    height:12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-microphone{
    height:70%;
    width:5%;
    padding-top:2vh;
    padding-left:1.25vw;
    margin-left: 17vw;
    color:black;
    display: flex;
    /* margin-left: 47vw; */
    /* margin-top: vh; */
    border-radius: 1.5rem;
    border: 2px solid black;
}
.fa-microphone:hover{
    background-color: black;
    color:whitesmoke;
}

textarea{
    width:90%;
    height:80%;
    border:3px solid whitesmoke;
    background: #00000000;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-weight: 300;
    font-size: 2.5rem;
    padding: 2vw;
    overflow-y: auto;
}

article{
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
    
}
.taskNo {
    color: #fff;
    font-size: 10vw;
    font-weight: 600;
    padding: 10px 0;
    position: sticky;
    top: 0;
    text-align: center;
    height: calc(10vw + 20px);
    transition: all 0.2s ease-in;
  }

  .taskContent {
    border-top: 2px solid #fff;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    padding: 15px 0;
  }

  .taskContent .title {
    font-weight: 600
  }

  p {
    margin: 0 0 13px 0;
    font-weight: 600
  }