*{
    box-sizing: border-box;
    /* overflow: hidden; */
}

body{
    min-height:100vh;
    height:100vh;
    width:100%;
    padding:0;
    margin:0;
    font-family: "Century Gothic", sans-serif;;
    color:azure;
    text-align: left;
    
}
.navbar{
    height:20%;
    font-size: 50px;
    background-color: #1C1C1E;
    display:flex;
    align-items: center;
    padding-left:5vh;
    background-image: linear-gradient(rgba(204, 0, 255, 0.534), rgba(0, 217, 255, 0.74));
    /* box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.726); */
    
}
.list{
    height:80%;
    background: url("Assets\\Setup.jpg");
    background-size:cover ;
    display: flex;
    justify-content: center;
    align-items: center;
}





.refresh-container{
    /* margin-left:50%; */
    border:0;
    background: none;
    display:block;
    font-size: 1.2rem;
    margin:70% auto;
    text-align:center;
    border:3px solid black;
    padding:14px 10px;
    width:220px;
    outline:none;
    color:rgb(255, 255, 255);
    border-radius:24px;
    transition:0.25px;
    cursor:pointer;
    text-decoration: none;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.493);
}

.refresh-container:hover{
    background-color: whitesmoke;
    color:black;
}

.logout-container{
    /* padding-right:10vw; */
    margin-right: 10%;
}

#logout{
    border:0;
    background: none;
    display:block;
    font-size: 1.2rem;
    margin:70% auto;
    text-align:center;
    border:3px solid black;
    padding:14px 10px;
    width:220px;
    outline:none;
    color:rgb(255, 255, 255);
    border-radius:24px;
    transition:0.25px;
    cursor:pointer;
    text-decoration: none;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.493);
}

#logout:hover{
    background-color: whitesmoke;
    color:black;
}